<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Patatous !</title>
</head>
<body>
	Ce sont mes rats !

	<ul>
	{% for rat in rats %}
        <li>{{ rat }}</li>
    {% endfor %}
	</ul>

</body>
</html>